


.pp{
    font-family: 'Orbitron', sans-serif;
    font-size: small;
    color: darkgreen;
    background-color: black; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin-top: 5%;
    border: 2 px solid red;
}